.input {
  width: 300px;
  font-size: 24px;
  font-style: italic;
  border: 2px solid gray;
}

.inputHeader {
  margin: 10px auto;
  font-size: 30px;
  font-style: italic;
  color: coral;
}

.listItem {
  width: 306px;
  display: flex;
  min-height: 30px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-top: none;
  font-size: 20px;
}

.counter {
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  font-style: italic;
}
.filter {
  margin: 10px auto;
  width: 310px;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
}

.postsList {
  width: 310px;
  height: 300px;
  text-align: justify;
  overflow-y: scroll;
  padding-left: 0px;
}

.postsList__post {
  margin: 10px 0 0 20px;
  list-style: circle;
}

.loading {
  width: 200px;
  height: 200px;
  opacity: 50%;
}

.error {
  width: 100px;
  height: 100px;
}
.done {
  text-decoration: line-through;
  color: green;
}

.deleteButton {
  border: none;
  background-color: transparent;
  outline: 0;
  color: red;
}

.clearCompleted {
  display: flex;
}
